body{
  background-color: darkgrey;
}
.btn{
  font-size: 40px;
  padding: 20px 30px;
  background-color: rgb(225, 225, 225);
  border-style: none;
  border-radius: 10px;
  cursor:pointer;
  margin-right: 15px;
}
.activated{
  background-color: black;
  color: gray;
}